body {
  color: black;
  background-color: white;
  background-image: url("asset/walltile3.jpg");
  background-repeat: repeat repeat;
  font-family: "Times New Roman", "Arial", serif;
}

nav {
  margin-left: -20%;
  margin-right: 0%;
  height: 100%;
  width: 100%;
}

a {
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: green;
}

header {
  color: #000000;
  font-family: 'Alex Brush', cursive;
  width: 100%;
  height: 80%;
  text-align: center;
  vertical-align: top;
  margin-top: -6%;
  margin-right: auto;
  margin-bottom: 0%;
  margin-left: auto;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
  background: url(asset/headerPicbig.jpg) no-repeat;
  background-size: 100% 100%;;
}

header h1 {
  font-size: 8em;
  text-shadow: 2px 2px 3px #fff7e6;
}

header h3 {
  margin-top: -5%;
  font-size: 4em;
  text-shadow: 2px 2px 3px #fff7e6;
}

.fotorama {
  width: 60%;
  height: 37%;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

footer {
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  clear: both;
  background-color: #ba7501;
  text-align: center;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  display: block;
}

.Central {
  display: block;
  margin-top: 0%;
  margin-right: auto;
  margin-bottom: 0%;
  margin-left: auto;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 64%;
  height: auto;
  overflow: hidden;
  vertical-align: 0%;
  text-align: left;
  font-size: 110%
}

.RightSide {
  background-color: #e49101;
  float: right;
  display: block;
  padding-right: 4%;
  padding-left: 2%;
  margin-left: 1%;
  height: 200%;
  width: 4em;
}

.LeftSide {
  background-color: #e49101;
  float: left;
  height: 200%;
  width: 7em;
  margin-right: 1%;
}

.LeftSideList {
  font-size: 120%;
  list-style-type: none;
  padding-top: 5%;
  padding-right: 1%;
  padding-bottom: 5%;
  padding-left: 1%;
  margin-top: 5%;
  margin-right: -20%;
  margin-bottom: 5%;
  margin-left: -20%;
  display: block;
  box-shadow: 2px 2px 2px #330000;
}

.FooterListItem {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
}

.FooterList {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.PicFloat {
  width: 25%;
  height: 25%;
  float: right;
  display: block;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.Subtitle {
	font-size: 170%;
	font-weight: bold;
	font-family: 'Arial', 'Times New Roman', serif;
}

@media only screen and (max-width: 728px) {
  header { height: 50%; }
  header h1 { font-size: 4em; padding-top: 3%; }
  header h3 { font-size: 2em; margin-top: -10%; }
  .LeftSide { display: block; float: none; width: 80%; height: 10%; text-align: center; padding: 0.1% 0% 8% 20%; margin: 1% auto 0% auto; }
  nav { width: auto; margin: auto 0% 0% -42%; }
  .LeftSideList { display: inline-block; text-align: center; padding: 1% 2% 1% 2%; font-size: 120%; margin: 0% 1% 0% 1%; }
  .RightSide { display: none; }
  .Central { width: 95%; margin-right: 0%; }
  .FooterList { display: block; margin-right: 10%; }
  .PicFloat { height: 25%; width: 40%; }
  .fotorama { height: 30%; width: auto; }
}

@media only screen and (max-width: 420px) {
  header { margin-top: -9%; }
  header h1 { font-size: 3em; }
  header h3 { font-size: 2em; }
  .fotorama { height: 20%; }
  nav { margin: auto 0% 0% -45%; }
  .LeftSide { height: 20%; text-align: center; padding: 0% 0% 0% 20%; margin: 1% 0% 0% 0%; }
  .LeftSideList { padding: 1% 5% 1% 5%; font-size: 120%; margin: 1% 5% 1% 5%; }
}